# OSX
#
.DS_Store

# node.js
playground/package-lock.json
playground/node_modules/
playground/npm-debug.log
playground/yarn-error.log

tiered/frontend/flex-sync-guides.tiered/package-lock.json
tiered/frontend/package-lock.json
tiered/frontend/flex-sync-guides.tiered/node_modules/

# Realm
playground/mongodb-realm
tiered/frontend/flex-sync-guides.tiered/mongodb-realm

# Logs
playground/flxsyncplay.*
